// COMMON STYLES
html, body {
	height:100%;
	min-height:100%;
}

a {
	text-decoration: none;
	cursor:pointer;
	color:$text-clr;
}

a.anchor{
	position: absolute;
	margin-top:-8em;
}

button:focus {outline:0;}