// PAGE LAYOUT
// Top-line
// ==================

// Header
// ==================

// Footer
// ==================

.wrap {
	@include container(); 
	max-width:$lg;
	padding-left:2.5em;
	padding-right:2.5em;
	@media (max-width: 1080px) {
		padding-left:1em;
		padding-right:1em;
	}
}