// MAIN STYLES

body.modal_open {
	overflow: hidden;
}

// Links
// ==================
a {
	
}
a:hover{
	
}

// Buttons
// ==================
.b-button{
	background:$deco-clr;
	color:$accent-clr;
	@include rhythm(0, 1, 1, 0);
	padding-left:$base-d*2em;
	padding-right:$base-d*2em;
	border:none;
	border-radius:$base-d*1em;
	box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.5);
	
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.b-button span{
	@include adjust-font-size-to(18px);
	font-weight:700;
}
.b-button:hover{
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.5);
	margin-top:1px;
	margin-bottom:-1px;
}
.b-button_nohover:hover{
	margin-top:0;
	margin-bottom:0;
	box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.5);
}
.b-button_sm{
	@include rhythm(0, 0.5, 0.5, 0);
	padding-left:$base-d*1.5em;
	padding-right:$base-d*1.5em;
}
.b-button_sm span{
	@include adjust-font-size-to(16px);
}

// Header
// ==================
.b-sticky{
	position:fixed;
	z-index:200;
	width:100%;
}
.b-header{
	background:$bg-clr;
	@include rhythm(0, 0.5, 0.5, 0);
	@media (max-width: 660px) {
		box-shadow:0px 0px $base-d*1em rgba(0,0,0,0.77);
	}
}
.b-header__logo{
	max-height:$base-d*12em;
	width:auto;
	float:left;
	margin-right:$base-d*8em;
	@media (max-width: 1002px) {
		max-height:$base-d*9em;
		margin-right:$base-d*4em;
	}
	@media (max-width: 660px) {
		display:none;
	}
}
.b-header__logo_inline {
	display:none;
	pointer-events:none;
	position:fixed;
	width:100%;
	text-align: center;
	@media (max-width: 660px) {
		display:block;
	}
}
.b-header__logo_inline img{
	max-height:$base-d*7em;
	width:auto;
	pointer-events:auto;
	margin-right:$base-d*6em;
}
.b-header__caption{
	@include rhythm(0, 3, 0, 0);
	float:left;
	margin-right:$base-d*8em;
	@media (max-width: 1002px) {
		@include rhythm(0, 1, 0, 0);
		margin-right:$base-d*4em;
	}
	@media (max-width: 780px) {
		display:none;
	}
}
.b-header__caption h1{
	@include adjust-font-size-to(18px);
	@media (max-width: 1002px) {
		@include adjust-font-size-to(16px);
	}
}

.b-header__vk{
	@include rhythm(2.5, 0, 0, 2.5);
	max-height:$base-d*8em;
	width:auto;
	float:left;
	margin-right:$base-d*4em;
	@media (max-width: 1002px) {
		max-height:$base-d*7em;
		@include rhythm(1.5, 0, 0, 1.5);
		margin-right:$base-d*2em;
	}
	@media (max-width: 660px) {
		display:none;
	}
}

.b-header-phone{
	float:left;
	@media (max-width: 660px) {
		display:none;
	}
}
.b-header-phone a:hover .b-header-phone__caption{
	border-bottom:1px solid $accent-clr;
	margin-bottom:-1px;
}
.b-header-phone__icon{
	@include rhythm(2.5, 0, 0, 2.5);
	max-height:$base-d*8em;
	width:auto;
	float:left;
	padding-right:$base-d*2em;
	@media (max-width: 1002px) {
		max-height:$base-d*7em;
		@include rhythm(1.5, 0, 0, 1.5);
	}

}
.b-header-phone__caption{
	float:left;
	
	@include rhythm(3, 0, 0, 3);
	@media (max-width: 1002px) {
		@include rhythm(2.5, 0, 0, 2.5);
	}
}
.b-header-phone__caption span{
	@include adjust-font-size-to(36px);
	font-weight:900;
	color:$accent-clr;
	@media (max-width: 1002px) {
		@include adjust-font-size-to(24px);
	}
}


.b-header-cart{
	float:right;
	position: relative;
	@include rhythm(2, 0, 0, 2);
	@media (max-width: 1002px) {
		@include rhythm(1, 0, 0, 1);
	}
}
.b-header-cart__sum{
	float:left;
	margin-right:$base-d*2em;
	@include rhythm(2, 0, 0, 0);
	@media (max-width: 660px) {
		@include rhythm(1, 0, 0, 0);
	}
	@media (max-width: 400px) {
		display:none;
	}
	
}
.b-header-cart__sum span{
	@include adjust-font-size-to(20px);
}
.b-header-cart-button{
	float:right;
	cursor:default;
	background:$accent-clr;
	color:$deco-clr;
	@include rhythm(0, 1, 1, 0);
	padding-left:$base-d*2em;
	padding-right:$base-d*2em;
	border-radius:$base-d*1em;
	@media (max-width: 660px) {
		@include rhythm(0, 0.5, 0.5, 0);
		padding-left:$base-d*1em;
		padding-right:$base-d*1em;
	}
}
.b-header-cart-button__icon{
	max-height:$base-d*6em;
	margin-right:$base-d*1em;
	width:auto;
	float:left;
	@media (max-width: 660px) {
		margin-right:0;
		max-height:$base-d*5em;
	}
}
.b-header-cart-button__caption{
	@include rhythm(0, 0.5, 0.5, 0);
	float:left;
	@media (max-width: 660px) {
		display:none;
	}
}
.b-header-cart-button__caption span{
	@include adjust-font-size-to(24px);
	font-weight:300;
}
.b-header-cart-button__counter{
	position: absolute;
    display: inline-block;
	background:$l-red-clr;
	border-radius:100%;
	width:$base-d*4em;
	height:$base-d*4em;	
	margin-top: -$base-d*2em;
	text-align:center;
	z-index:100;
	@media (max-width: 660px) {
		width:$base-d*3em;
		height:$base-d*3em;
		margin-top: -$base-d*1em;
		margin-left: -$base-d*0.5em;
	}
	
}
.b-header-cart-button__counter p{
	color:white;
	@include adjust-font-size-to(15px);
	@media (max-width: 660px) {
		@include adjust-font-size-to(13px);
	}
}

// Navigation
.b-nav{
	background:$deco-clr;
	border-bottom:1px solid $gray-clr;
	@media (max-width: 660px) {
		display:none;
	}
	@media (min-width: 661px) {
		display:block !important;
	}
}

.catalog-nav-list__item, .main-nav-list__item, .main-nav__trigger{
	@include rhythm(0, 1, 1, 0);
	display: inline-block;
	padding-right:$base-d*1.5em;
	padding-left:$base-d*1.5em;
	@media (max-width: 1002px) {
		@include rhythm(0, 0.5, 0.5, 0);
		padding-right:$base-d*1em;
		padding-left:$base-d*1em;
	}
}
.catalog-nav-list__item_first{
	margin-left:-$base-d*1.5em;
	@media (max-width: 660px) {
		margin-left:0;
	}
}
.main-nav-list__item_last{
	margin-right:-$base-d*1.5em;
	@media (max-width: 864px) {
		margin-right:0;
	}
}
.catalog-nav-list__item span, .main-nav-list__item span, .main-nav__trigger span{
	@include adjust-font-size-to(18px);
	@media (max-width: 1002px) {
		@include adjust-font-size-to(16px);
	}
}
.catalog-nav-list {
	float:left;
}
.catalog-nav-list__item{
	color:$accent-clr;
}
.catalog-nav-list__item_extra{
	font-weight:700;
	color:#ff6600;
}
.main-nav-list, .main-nav__trigger {
	float:right;
}
.main-nav-list__item span:hover, .catalog-nav-list__item:hover span{
	border-bottom:1px solid $accent-clr;
}

.main-nav-list{
	@media (max-width: 864px) and (min-width: 661px) {
		display: none;
    	position: absolute;
    	right: $base-d*0.5em;
    	margin-top:$base-d*5em;
    	background:$back-clr;
    	border:1px solid $gray-clr;
	}
	@media (max-width: 660px) {
		display:block;
		float:none;
	}
}
.main-nav-list_show{
	display:block;
}
.main-nav-list__item{
	@media (max-width: 864px) and (min-width: 661px) {
		display:block;
		text-align:right;
		padding:$base-d*1em $base-d*3em;
	}
}
.main-nav-list__item:hover{
	@media (max-width: 864px) {
		background:$deco-clr;
	}
}

.main-nav__trigger {
	cursor:pointer;
	display:none;
	@media (max-width: 864px) {
		display:inline-block;
	}
	@media (max-width: 660px) {
		display:none;
	}
}

.mobile-nav__trigger{
	cursor:pointer;
	float:left;
	margin-top:$base-d*1em;
	display:none;
	@media (max-width: 660px) {
		display:block;
	}
}
.mobile-nav__trigger img{
	max-width: $base-d*6em;
	height:auto;
}
.nav{
	@media (max-width: 660px) {
		overflow:auto;
		max-height:80vh;
		padding:0;
		padding-bottom:$base-d*2em;
		padding-top:$base-d*2em;
	}
}
.phone-nav {
	display:none;
}
.main-nav-list, .catalog-nav-list {
	@media (max-width: 660px) {
		width:100%;
		text-align:left;
		padding-top:$base-d*2em;
	}
}
.catalog-nav-list {
	@media (max-width: 660px) {
		padding-bottom:$base-d*2em;
	}
}
.main-nav-list__item, .catalog-nav-list__item, .phone-nav{
	@media (max-width: 660px) {
		display:block;
		padding-left:$base-d*2em;
		padding-right:$base-d*2em;
	}
}
.main-nav-list__item span, .catalog-nav-list__item span, .phone-nav span{
	@media (max-width: 660px) {
		@include adjust-font-size-to(20px);
	}
}

.phone-nav span{
	font-weight:900;
	@include adjust-font-size-to(24px);
}

// Footer
// ==================
.b-call{
	position:fixed;
	display:none;
	bottom:$base-d*2em;
	width:100%;
	text-align:center;
	@media (max-width: 660px) {
		display:block;
	}
}
.b-call__icon{
	display:inline-block;
	max-width:$base-d*12em;
	height:auto;
	animation-name: spin;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite; 
}
.b-footer{
	background:$accent-clr;
	@include rhythm(2, 1, 2, 0);
}
.b-footer-contacts{
	float:left;
	min-width:$base-d*40em;
	@media (max-width: 660px) {
		float:none;
	}
}
.b-footer-contacts-phone__icon{
	float:left;
	max-height:$base-d*7em;
	width:auto;
	margin-top:-0.1em;
	margin-left:-0.5em;
	
}
.b-footer-contacts-phone__caption span{
	color:white;
	@include adjust-font-size-to(30px);
	font-weight:700;
}
.b-footer-contacts-address a{
	color:white;
}
.b-footer-contacts-address a:hover{
	border-bottom:1px solid white;
}
.b-footer-copyright{
	float:right;
	@media (max-width: 660px) {
		display:none;
	}
	max-height:$base-d*8em;
	width:auto;
	@include rhythm(1.5, 0, 0, 0);
}

// POPUP


// SLIDER
.b-slider{
	@include rhythm(0, 0, 0, 2);
	@media (max-width: 760px) {
		display:none;
	}
}
.slider__image{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.slider__image img{
	height:auto;
	max-width:1920px;
	width:100%;
}

//CONTENT
.b-content{
	padding-top:$base-d*20em;
	min-height: 100%;
	margin-bottom:-$base-d*13em;
	@media (max-width: 1002px) {
		padding-top:$base-d*16em;
	}
	@media (max-width: 660px) {
		padding-top:$base-d*10em;
	}
}
.b-content:after {
	content: "";
	display: block;
	height:$base-d*13em;
}

.b-cat{
	@include trailing-border(1px, 0.5);
	@include rhythm(1, 0, 1, 2);
	border-color:$light-clr;	
	@media (max-width: 660px) {
		text-align:center;
	}
}
.b-cat__heading h2{
	@include adjust-font-size-to(30px);
	font-weight:700;
}

.b-product-list{
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
}

.b-product{
	display:inline-block;
	width:23%;
	max-width:$base-d*65em;
	min-width:$base-d*46em;
	
	@include rhythm(0, 0, 0, 5);
	@media (max-width: 1400px) {
		width:31%;
	}
	@media (max-width: 1000px) {
		width:46%;
	}
	@media (max-width: 660px) {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
}
.b-product_dummy1{
	@media (max-width: 1400px) {
		display:none;
	}
}
.b-product_dummy2{
	@media (max-width: 1000px) {
		display:none;
	}
}
.b-product_dummy3{
	@media (max-width: 660px) {
		display:none;
	}
}
.b-product-pic__promo{
	position:absolute;
	color:white;
	@include rhythm(4, 1, 1, 0);
	margin-left:-$base-d*1em;
	padding-left:$base-d*2.5em;
	padding-right:$base-d*2em;
	min-width:$base-d*25em;
	text-align:center;
}
.b-product-pic__promo_popup{
	margin-top:-$base-d*10em;
}
.b-product-pic__promo_orange{
	background:$orange-clr;
}
.b-product-pic__promo_orange:before {
	content:'';
    position:absolute;
    left:0;
    margin-top: -$base-d*2em;
    border-top:solid $base-d*0.5em transparent;
    border-right:solid $base-d*0.5em $orange-clr;
    border-bottom:solid $base-d*0.5em $orange-clr;
    border-left:solid $base-d*0.5em transparent;
}
.b-product-pic__promo_red{
	background:$l-red-clr;
}
.b-product-pic__promo_red:before {
	content:'';
    position:absolute;
    left:0;
    margin-top: -$base-d*2em;
    border-top:solid $base-d*0.5em transparent;
    border-right:solid $base-d*0.5em $l-red-clr;
    border-bottom:solid $base-d*0.5em $l-red-clr;
    border-left:solid $base-d*0.5em transparent;
}
.b-product-pic__promo_green{
	background:$green-clr;
}
.b-product-pic__promo_green:before {
	content:'';
    position:absolute;
    left:0;
    margin-top: -$base-d*2em;
    border-top:solid $base-d*0.5em transparent;
    border-right:solid $base-d*0.5em $green-clr;
    border-bottom:solid $base-d*0.5em $green-clr;
    border-left:solid $base-d*0.5em transparent;
}

.b-product-pic__promo span{
	@include adjust-font-size-to(24px);
	font-weight:600;
}
.b-product-pic__image{
	width:100%;
	height:auto;
	border-radius:$base-d*2em;
}

.b-product__title{
	@include rhythm(0, 0, 0, 1);
}
.b-product__title h3{
	@include adjust-font-size-to(24px);
	font-weight:600;
}
.b-product__desc{
	@include rhythm(0, 0, 0, 1);
}
.b-product__caption span{
	color:$gray-clr;
}

.b-product__caption {
	@include rhythm(0, 0, 0, 2);
}

.b-product-price__text{
	display:inline-block;
	padding-right:$base-d*3em;
}
.b-product-price__text span{
	@include adjust-font-size-to(30px);
	font-weight:900;
	color:$accent-clr;
}
.b-product-price__text_promo:after{
	content:' *';
	@include adjust-font-size-to(16px);
	top:0;
}
.b-product-price__button{
	display:inline-block;
	vertical-align: top;
}
.b-count-switch{
	display:inline-block;
	vertical-align: top;
}
.b-count-switch__button, .b-count-switch__input{
	display:inline-block;
}
.b-count-switch__input{
	margin:0 $base-d*1em;
}
.b-count-switch__input_sm{
	margin:0 $base-d*0.5em;
}
.b-count-switch__input input{
	padding:$base-d*0.83333em $base-d*1em $base-d*1em $base-d*1em;
	border-radius:$base-d*1em;
	max-width:$base-d*10em;
	background:white !important;
}
.b-count-switch__input_sm input{
	padding:$base-d*0.33333em $base-d*0.5em $base-d*0.5em $base-d*0.5em;
	border-radius:$base-d*1em;
	max-width:$base-d*6em;
	background:white !important;
}
.b-delivery{
	background:$back-clr;
	border-radius:$base-d*2em;
	@include rhythm(4, 2, 2, 4);
	padding-left:$base-d*3em;
	padding-right:$base-d*3em;
	max-width:$base-d*100em;
}
.b-delivery-text{
	@include rhythm(0, 0, 2, 0);
}
.b-delivery-list a{
	color:$accent-clr;
	border-bottom:1px solid $accent-clr;
}
.b-delivery-list a:hover{
	border:none;
}
.b-delivery-list__item span{
	@include adjust-font-size-to(20px, 5);
}

.b-cart{
	display:none;
	position:absolute;
	right:0;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
	border-radius:$base-d*0.5em;
	z-index:400;
	background:white;
	top:$base-d*8em;
	padding:$base-d*2em 0;
	width:$base-d*104em;
	@media (max-width: 660px) {
    	top:$base-d*7em;
    	width:92vw;
    }
}
.b-cart_open{
	display:block;
}
.b-cart::before{
	content: "";
    display: block;
    position: absolute;
    top:-$base-d*2em;
    right: $base-d*6em;
    border-left: $base-d*2em solid transparent;
    border-right: $base-d*2em solid transparent;
    border-bottom: $base-d*2em solid #fff;
    @media (max-width: 660px) {
    	right: $base-d*1.5em;
    }
}
.b-cart-list{
	width:100%;
	@include rhythm(0, 0, 0, 1);
	overflow:auto;
	max-height: 40vh;
}
.b-cart__title{
	@include rhythm(0, 0, 0, 2);
	padding-left:$base-d*2em;
	padding-right:$base-d*2em;
}
.b-cart__title span{
	@include adjust-font-size-to(24px);
	font-weight:600;
}

.b-cart-item{
	cursor:default;
}
.b-cart-item:hover{
	background-color:$back-clr;
}
.b-cart-item:hover .b-cart-item-remove__button{
	background-color:$l-red-clr;
}

.b-cart-item:hover .b-cart-item-counter__button{
	opacity:1;
}
.b-cart-item__title{
	@include rhythm(0, 1, 1, 0);
	padding-left:$base-d*2em;
	padding-right:$base-d*2em;
	width:$base-d*56em;
	display:inline-block;
	@media (max-width: 660px) {
    	width:100%;
    }
}
.b-cart-item-counter{
	@include rhythm(0, 0.5, 0.5, 0);
	width:$base-d*23em;
	padding-left:$base-d*2em;
	padding-right:$base-d*1em;
	display:inline-block;
	vertical-align: top;
	@media (max-width: 660px) {
    	padding-bottom:$base-d*2em;
    }
}
.b-cart-item-counter__button{
	opacity:0;
	@media (max-width: 790px) {
    	opacity:1;
    }
}
.b-cart-item__price{
	@include rhythm(0, 1, 1, 0);
	width:$base-d*12em;
	padding-left:$base-d*1em;
	padding-right:$base-d*1em;
	display:inline-block;
	vertical-align: top;
}
.b-cart-item__price span{
	@include adjust-font-size-to(18px);
	font-weight:900;
}
.b-cart-item-remove{
	@include rhythm(0, 1.5, 0.5, 0);
	padding-left:$base-d*1em;
	padding-right:$base-d*1em;
	display:inline-block;
	vertical-align: top;
	@media (max-width: 660px) {
		@include rhythm(0, 1, 0, 0);
	}
}
.b-cart-item-remove__button{
	@include adjust-font-size-to(6px);
	border-radius:100%;
	width:3em;
	height:3em;
	border:none;
	background-image:url('../img/cart-remove.png');
	background-size:contain;
	background-position:center center;
	-webkit-appearance: none;
	@media (max-width: 660px) {
		background-color:$l-red-clr;
		width:4em;
		height:4em;
	}
}

.b-cart-total{
	clear:both;
	border-top:1px solid $dark-clr;
	padding-top:$base-d*2em;
	padding-left:$base-d*2em;
	padding-right:$base-d*2em;
}
.b-cart-total__sum{
	margin-top:$base-d*1em;
	float:left;
	@media (max-width: 480px) {
    	@include rhythm(0, 0, 0, 1);
    	float:none;
    }
}
.b-cart-total__sum p{
	@include adjust-font-size-to(20px);
	font-weight:600;
}
.b-cart-total__button{
	float:right;
	@media (max-width: 480px) {
    	float:none;
    }
}

// POPUPS
.p-product, .p-menu{
	background:white;
	margin:0 auto;
	margin-top:$base-d*2em;
	margin-bottom:$base-d*2em;
}
.p-product {
	max-width:$base-d*130em;
	@media (max-width: 660px) {
    	max-width:$base-d*65em;
    }
}
.p-menu{
	max-width:$base-d*140em;
	@media (max-width: 660px) {
		max-width:$base-d*80em;
    }
}
.p-product__image {
	width:50%;
	display:inline-block;
	@media (max-width: 660px) {
    	width:100%;
    }
}
.p-product__image img{
	width:100%;
	height:auto;
	margin-bottom: -7px;
}
.p-product-info{
	width:48%;
	vertical-align: top;
	display:inline-block;
	@include rhythm(0, 2, 2, 0);
	padding-left:$base-d*3em;
	padding-right:$base-d*3em;
	@media (max-width: 660px) {
    	width:100%;
    }
}
.p-product-info strong{
	font-weight:700;
}
.b-product-price_popup{
	@include rhythm(0, 2, 2, 0);
	padding-left:$base-d*2em;
	padding-right:$base-d*2em;
	background:$back-clr;
	border-radius:$base-d*1em;
}
.b-product-price__button_right{
	float:right;
}
.p-product-text{
	@include rhythm(0, 2, 2, 0);
	padding-left:$base-d*3em;
	padding-right:$base-d*3em;
	@media (max-width: 660px) {
		padding-top:0;
    	padding-left:$base-d*2em;
		padding-right:$base-d*2em;
    }
}
.p-menu .mfp-close{
	color:white;
}
.p-menu-nav{
	background:$accent-clr;
}
.menu-nav-list__item{
	display:inline-block;
	@include rhythm(0, 2, 2, 0);
	padding-left:$base-d*4em;
	padding-right:$base-d*4em;
	cursor:pointer;
}
.menu-nav-list__item span{
	color:$light-clr;
	@include adjust-font-size-to(20px);
}
.menu-nav-list__item:hover{
	background:$back-clr;
}
.menu-nav-list__item:hover span{
	color:$accent-clr;
}
.menu-nav-list__item_current, .menu-nav-list__item_current:hover{
	background:white;
}
.menu-nav-list__item_current span, .menu-nav-list__item_current:hover span{
	color:black;
}
.p-menu-item {
	display:none;
}
.p-menu-item_current{
	display:block;
}
.p-menu-item__title{
	@include rhythm(2, 0, 0, 3);
	padding-left:$base-d*1.5em;
	padding-right:$base-d*1.5em;
}
.p-menu-item__title span{
	@include adjust-font-size-to(24px);
	font-weight:700;
}
.p-menu-item__title a{
	color:$accent-clr;
}

.b-promo{
	//display:none;
	@include rhythm(0, 2, 2, 0);
	padding-left:$base-d*1.5em;
	padding-right:$base-d*1.5em;
}

.b-promo-item{
	@include rhythm(0, 0, 0, 2);
	width:50%;
	display:inline-block;
	vertical-align:top;
	padding-left:$base-d*1.5em;
	padding-right:$base-d*1.5em;
	@media (max-width: 660px) {
		width:100%;
    }
	
}
.b-promo-item__image{
	width:100%;
	height:auto;
}
.b-promo-item__title{
	@include adjust-font-size-to(20px);
	font-weight:600;
}
.b-feedback{
	//display:none;
	@include rhythm(0, 2, 2, 0);
	padding-left:$base-d*1.5em;
	padding-right:$base-d*1.5em;
}
.b-feedback-item{
	padding-left:$base-d*1.5em;
	padding-right:$base-d*1.5em;
	display:table;
	@include rhythm(0, 0, 0, 3);
}
.b-feedback-item-image{
	display:table-cell;
}
.b-feedback-item-image div{
	width:$base-d*14em;
	height:$base-d*14em;
	padding-top:$base-d*8em;
	padding-right:$base-d*1.5em;
	background-size:cover;
	border-radius:100%;
	@media (max-width: 660px) {
		width:$base-d*10em;
		height:$base-d*10em;
		padding-top:$base-d*4em;
    }
}
.b-feedback-item-image div p{
	@include adjust-font-size-to(40px);
	color:$accent-clr;
    text-align: right;
}
.b-feedback-item-data{
	display:table-cell;
	vertical-align: top;
	padding-left:$base-d*3em;
	padding-right:$base-d*1.5em;
	@include rhythm(0, 1, 0, 0);
	@media (max-width: 660px) {
		padding-left:$base-d*1.5em;
    }
}
.b-feedback-item-data__author span{
	@include adjust-font-size-to(18px);
	font-weight:700;
}
.b-feedback-item-data__date {
	@include rhythm(-1, 0, 0, 1);
}
.b-feedback-item-data__date span{
	@include adjust-font-size-to(14px);
}
.b-feedback-item-data__text{
	@media (max-width: 660px) {
		margin-left:-$base-d*11.5em;
		padding-top:$base-d*2em;
    }
}
.b-feedback-more{
	text-align:center;
	@include rhythm(0, 2, 2, 0);
}

.b-vacancy{
	padding-left:$base-d*3em;
	padding-right:$base-d*3em;
	padding-bottom:$base-d*3em;
}
.b-vacancy .p-menu-item__title{
	padding-left:0;
	padding-right:0;
}
.b-vacancy__caption{
	@include rhythm(-3, 0, 0, 2);
}
.b-vacancy h2{
	@include adjust-font-size-to(20px);
	font-weight:600;
}
.b-vacancy strong{
	font-weight:600;
}
.b-vacancy__separator{
	width:100%;
	border-bottom:1px solid $light-clr;
	margin-bottom:$base-d*2em;
}
.b-deliv{
	margin-top:$base-d*2em;
}
.b-deliv strong{
	font-weight:600;
}
.b-deliv__title p{
	@include adjust-font-size-to(20px);
	font-weight:700;
}
.b-deliv__note{
	@include rhythm(0, 2, 2, 0);
	font-weight:600;
}
.b-deliv__text, .b-deliv__note, .b-deliv__title{
	padding-left:$base-d*3em;
	padding-right:$base-d*3em;
}
.b-deliv table{
	@include rhythm(2, 0, 0, 1);
}
.b-deliv table th{
	font-weight:600;
	background:$back-clr;
	color:black;
}
.b-deliv table th span{
	@include adjust-font-size-to(18px);
}
.b-deliv table td{
	border-top:1px solid $dark-clr;
}
.b-deliv table td, 
.b-deliv table th {
	
	@include rhythm(0, 1.5, 1.5, 0);
	padding-left:$base-d*3em;
	padding-right:$base-d*3em;
}
.b-deliv__map{
	width:100%;
	height:$base-d*60em;
	@include rhythm(2, 0, 0, 0);
}