// MAIN TYPOGRAPHY
@import "compass/typography/vertical_rhythm";
$base-font-size: 16px;
$base-line-height: 6px;

$base-d:$base-line-height/$base-font-size;


// Base styles
// =================
@include establish-baseline;

html {
	@include adjust-leading-to(4);
}
body{
	font-family:source-sans-pro,tahoma,sans-serif;
	color:$text-clr;
}