// VARIABLES
$lg: 1636px;

//colors
$text-clr:#333;
$accent-clr:#801817;
$deco-clr:#ffcc00;
$back-clr:#f2e5b3;

$light-clr: #ddd;
$gray-clr: #666;
$dark-clr:#111;
$red-clr:#cf0000;

$orange-clr:#ff8200;
$l-red-clr:#ff3333;
$green-clr:#00b23c;
